#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  display: flex;
  text-align: left;
  background-color: rgb(144, 94, 163); 
  padding: 10px; 
  margin: 0; 
}






ul {
  list-style-type: none;
}


.articles {
  list-style-type: none;
  padding: 0;
  background-color: rgb(72, 80, 77);
   
  
}

.articles li {
  margin: 10px;
  text-align: left; 
  margin-bottom: 20px; 
}


.articles img {
  max-width: 100%; 
  height: auto; 
  width: 300px; 
  margin-right: 20px;
}

.articles p {
  text-align: right;
}

.nav {
  display: flex;
  
  
}

.nav li {
  margin-right: 20px;
}


.singleArticle {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.singleArticleImage {
  width: 500px;
  height: auto;
}

.singleArticlePara {
  display: flex;
  flex-direction: row;
}

