
a {
  font-weight: 500;
  color: #347ef4;
  text-decoration: inherit;
}
a:hover {
  color: #e5e5eb;
}



.title {
  display: flex;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
  
  background-color: rgb(175, 35, 35); 
  padding: 20px; 
  margin: 0; 
  
}

.left {
  
}

.right {
 
  font-size: 20px;
  
}




ul {
  list-style-type: none;

}

body, .articles {
  
  padding: 0;
}


.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  
  
  
  
  
}

.articles h3 {
 
  color: #f8eeee;
}

.articles li {
  min-width: 300px;
  
  
  margin: 10px;
  padding: 20px;
  background-color: #2f3232;
  border-radius: 2%;
  

}

.articles li:hover {
  background-color: #8a7d7d; 
}




.articles img {
  max-width: 100%; 
  height: auto; 
  width: 300px; 
  
}



.nav {
  display: flex;
  justify-content: left;
  font-size: large;
  
  
}

.nav li {
  
  margin-right: 15px;
  
}


.singleArticle {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  font-size: 20px;
  

}

.singleArticleHead {
  font-size: 40px;
}

.singleArticleImage {
  width: 100%; 
  max-width: 600px; 
  border-radius: 3%;
  
}

.singleArticlePara {
  flex-wrap: wrap;
  font-size: 20px;
  margin: 15px
 
}

.singleArticleList {
font-size: 15px;
}

.likeButton {
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  
}


.comments {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  gap: 20px; 
  list-style-type: none; 
  padding: 0; /* Remove padding if exists */
  margin: 0; 
}

.commentBox {
  
  background-color: #3c3c56; 
  padding: 30px; 
  border-radius: 5px; 
  margin: 5px;
  margin-right: 20px;
 
}

.votes {
  padding-top: 10px;
  text-align: right;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
  border-radius: 10px; 
  margin-right: 50px; 
}

.user {
  padding: 15px; 
  background-color: #3c3f44;
  border-radius: 10px;
}

.user:hover {
  background-color: #8a7d7d; 
}

.user-image {
  width: 100px;
  border-radius: 50%; 
}



.foot {
  
  display: flex;
  justify-content: flex-end;
  
  padding: 30px;
  background: rgb(108, 42, 42);
}