




a {
  font-weight: 500;
  color: #347ef4;
  text-decoration: inherit;
}
a:hover {
  color: #e5e5eb;
}



.title {
  display: flex;
  justify-content: space-between;
  font-size: 70px;
 text-align: left;
  background-color: rgb(175, 35, 35); 
  padding: 20px; 
  margin: 0; 
  
}

.titleUser {
 
  font-size: 20px;
}


ul {
  list-style-type: none;

}


.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
  
  
}

.articles h3 {
 
  color: #f8eeee;
}

.articles li {
  min-width: 300px;
  
  margin: 10px;
  padding: 10px;
  background-color: #2f3232;
  

}

.articles li:hover {
  background-color: #8a7d7d; 
}




.articles img {
  max-width: 100%; 
  height: auto; 
  width: 300px; 
  
}



.nav {
  display: flex;
  justify-content: left;
  font-size: x-large;
  
  
}

.nav li {
  margin-right: 30px;
}


.singleArticle {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;

}

.singleArticleHead {
  font-size: 40px;
}

.singleArticleImage {
  
  width: 700px;
  height: auto;
}

.singleArticlePara {
  font-size: 20px;
 
}


.comments {
  display: flex;
  flex-wrap: wrap; 
  gap: 14px; 
  list-style-type: none; 
}

.commentBox {
  display: flex;
  flex-wrap: wrap;
  background-color: #6b5968; 
  border: 2px solid #ddd; 
  padding: 30px; 
  border-radius: 5px; 
 
}

.votes {
  padding-top: 10px;
  text-align: right;
}


.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #26292e;
}


.user:hover {
  background-color: #8a7d7d; 
}

.user-image {
  width: 100px
}
